@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background-color: rgb(0,0,61);
    padding: 3rem;
    padding-bottom: 0rem;
    color: #fff;
    /* overflow: scroll; */
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: #fff;

}

::-webkit-scrollbar-thumb {
    background: #fa4f11;
    border-radius: 3rem;

}
.back{
    color: #fff;
}
.back:hover,.logo-of:focus{
    color: rgb(255, 106, 52);
}
.logo-of,.logo-of:hover,.logo-of:focus {
    color: white;
    font-weight: 800;
    font-size: 30px;
    font-family: 'Anek Latin';
    text-decoration: none;
}

.logo {
    font-weight: 600;
    font-size: 45px;
    color: rgb(255, 106, 52);
    background-color: #fff;
    border-radius: 3rem;
}

.width {
    width: 40px;
    height: 33px;
}
.form{
    padding: 1% 15%;
    margin-top: 1.2rem;
}
h5{
    color:rgb(255, 131, 86);
}
option{
    background-color: rgb(0,0,61);
}
select,input{
    background-color: transparent;
    border: #fff 1px solid;
    border-radius: 0.31rem;
    width:100%;
    height: 70%;
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
}

.main-btn {
    margin: 1rem 0;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.4rem;
    display: inline-block;
    color: white;
    background-color: orangered;
    text-transform: capitalize;
    overflow: hidden;
    z-index: 0;
    position: relative;
    cursor: pointer;
    padding: 0.525rem 2.875rem;
    font-size: 1.575rem;
}

.main-btn::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 180%;
    width: 10%;
    transform: rotate(25deg);
    z-index: -1;
}

.main-btn:hover::before {
    left: 120%;
    transition: .9s linear;
}

.main-btn:hover {
    color: #fff;
    font-size: 1.8rem;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
/* form span.main-btn{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.4rem;
} */
/* .input-div{
    border: #fff 1px solid;
    border-radius: 0.31rem;
} */
@media (max-width: 575.98px) {
    select,input{
        height: 60%;
        margin-top: 1px;
    }
    .form{
        padding: 0%;
        margin-top: 1rem;
    }
}