@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
    word-spacing: 3px;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: #fff;

}

::-webkit-scrollbar-thumb {
    background: #fa4f11;
    border-radius: 3rem;

}

a, a:hover, a:focus {
    text-decoration: none;
}

.navbar {
    transition: all 0.4s ease;
}

.nav-link {
    text-transform: uppercase;
    color: white;
    margin-right: 20px;
    text-align: center;
    /* font-weight: 600; */
    font-size: 18px;
}

.nav-link:hover {
    color: white;
    /* text-decoration: overline; */
    /* text-decoration-color: orangered; */
    transition: all .2s ease-out 0s;
    font-size: 25px;
    color: #ff6128;
}

.nav-link:focus {
    /* text-decoration: underline; */
    /* text-underline-offset: 5px; */
    /* text-decoration-color: orangered; */
    color: #ff6128;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: white;
    font-weight: 800;
    font-size: 30px;
    font-family: 'Anek Latin';
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    background-color: rgb(0, 0, 61);
    width: 280px;
}
.dropdown-item{
    color: #fff;
    font-size: 20px;
}
.dropdown-item:hover,.dropdown-item:focus,.dropend:hover,.dropend:focus{
    color: #ff6128;
    background-color: rgb(0, 0, 61);
}
/* .dropdown-menu .dropend .dropdown-menu{
    display: none;
}
.dropdown-menu:hover .dropend:hover .dropdown-menu{
    display: block;
} */
.logo {
    font-weight: 600;
    font-size: 45px;
    color: rgb(255, 106, 52);
    margin-left: 30px;
    background-color: #fff;
    border-radius: 3rem;
}

.width {
    width: 40px;
    height: 33px;
}

.i {
    font-size: 1.5rem;
}

.i:hover {
    color: orangered;
    background-color: white;
    border-radius: 2rem;
}

.color {
    color: orangered;
}

.color1 {
    color: rgb(0, 0, 61);
}

.color2 {
    color: #fff;
}

.color3 {
    color: rgb(0, 0, 61);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: orangered;
}

.bg {
    background-color: rgb(0, 0, 61, 0.9);
    padding: 5px;
}

.main-btn {
    display: inline-block;
    border-radius: 3rem;
    color: white;
    background:orangered;
    text-transform: capitalize;
    overflow: hidden;
    z-index: 0;
    position: relative;
    cursor: pointer;
    padding: 0.525rem 1.875rem;
    font-size: 1.5rem;
}

.main-btn::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 15%;
    transform: rotate(25deg);
    z-index: -1;
}

.main-btn:hover::before {
    left: 120%;
    transition: .9s linear;
}

.main-btn:hover {
    color: #fff;
    font-size: 1.6rem;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.new-btn {
    display: inline-block;
    border-radius: 3rem;
    color: white;
    background-color:#ff4500;
    /* border: #fff 1px solid; */
        box-shadow: -5px -5px 15px rgba(224, 224, 224, 0.2)
    ,15px 15px 15px rgba(114, 113, 113, 0.2);
    transition: all .3s ease-out 0s;
    text-transform: capitalize;
    overflow: hidden;
    z-index: 0;
    position: relative;
    cursor: pointer;
    padding: 0.625rem 1.975rem;
    font-size: 1.275rem;
}

.new-btn::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 15%;
    transform: rotate(25deg);
    z-index: -1;
}

.new-btn:hover::before {
    left: 120%;
    transition: .9s linear;
}

.new-btn:hover {
    color: #fff;
    font-size: 1.7rem;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

/* .white-btn {
    display: inline-block;
    border-radius: 2rem;
    color: white;
    background-color: rgb(0, 0, 61);
    text-transform: capitalize;
    align-items: center;
    font-weight: 600;
    padding: 0.625rem 1.875rem;
    font-size: 1.275rem;
    box-shadow: 0px 2px 10px -1px rgb(0, 0, 0 / 19%);
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    border: #fff solid 8px;

}

.white-btn:hover {
    color: #fff;
    border: #fff solid 5px;
    font-size: 1.675rem;
    background-color: rgb(0, 0, 61);
} */

.white-btn {
    position: relative;
    display: inline-flex;
    border-radius: 3rem;
    color: white;
    background-color: rgb(0, 0, 61);
    text-transform: capitalize;
    font-weight: 600;
    padding: 0.625rem 1.875rem;
    font-size: 1.375rem;
    box-shadow: 0px 2px 10px -1px rgb(0, 0, 0 / 19%);
    overflow: hidden;
    border: #fff solid 8px;
    letter-spacing: 1px;
    transition: all .3s ease-out 0s;
}
.white-btn:hover {
    color: #fff;
    border: #fff solid 5px;
    font-size: 1.575rem;
    padding: 0.625rem 1.475rem
    /* background-color: rgb(0, 0, 61); */
} 
.white-btn span {
    position: relative;
    z-index: 1;
}
.white-btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 54px;
    background: #ff5517;
    border-radius: 8rem;
    transition: width 1.2s, height 1.2s;
}
.white-btn:hover::before {
    width: 700px;
    height: 700px;
}

.blue-btn {
    position: relative;
    display: inline-flex;
    border-radius: 3rem;
    color: white;
    background-color: rgb(25, 78, 138);
    text-transform: capitalize;
    font-weight: 600;
    padding: 0.85rem 2rem;
    letter-spacing: 1px;
    font-size: 1.275rem;
    overflow: hidden;
    transition: all .3s ease-out 0s;
    font-family: Arial, Helvetica, sans-serif;
}
.blue-btn:hover{
    color: #fff;
    font-size: 1.575rem;

}
.blue-btn span {
    position: relative;
    z-index: 1;
}

.blue-btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 58px;
    background: orangered;
    border-radius: 8rem;
    transition: width 1.2s, height 1.2s;
}

.blue-btn:hover::before {
    width: 800px;
    height: 800px;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

#home {
    padding: 120px 0;
    background-image: url(../images/g4.gif);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0px;
    letter-spacing: 1px;
}

p {
    font-size: 1.2rem;
    color: rgba(51, 51, 51, 0.767);
}

.div {
    /* background-color: rgb(0, 153, 255); */
    max-height: 600px;
}

.intro {
    margin-bottom: 20px;
}

.intro .divider {
    background-color: orangered;
    height: 2px;
    width: 120px;
    margin: 18px auto;
}

.about-section {
    background-color: #fff;
}

hr {
    color: orangered;
}

.course .box-container .box .content .stars i {
    color: #ffc005;
    font-size: 1.7rem;
    padding: 1rem .1rem;
}

.course .box-container .box .content .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.card {
    position: relative;
    border-radius: 0.9rem;
    display: inline-block;
    border: #ff4500;
    width: 18rem;
    height: 27rem;
    margin: 3rem 3rem;
    background-color: rgb(0, 0, 61);
    color: #fff;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.card-body {
    display: block;
}

.i1 {
    font-size: 2rem;
    padding: 1rem;
}

.overlay {
    position: absolute;
    transition: all .3s ease;
    border-radius: 0.9rem;
    width: 20rem;
    height: 19rem;
    opacity: 0;
    background-color: #eee;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.overlayBottom h3 {
    margin: 30px 0;
}

.overlayBottom {
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #fa4f11;
}

.card p {
    color: #eee;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover .overlayBottom {
    height: 76%;
}

#teachers {
    width: 100%;
    /* height: auto; */
    background: linear-gradient(to top right, rgb(0, 0, 61) 30%, #fff 70%);
    /* margin-bottom: 3rem; */
    padding-bottom: 1rem;
    padding-top: 2rem;
}

#teachers .container {
    width: 70%;
}

#teachers .container .carousel-inner .card1 {
    background: rgb(0, 0, 61);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#teachers .container .carousel-inner .card1 .card1-thumb {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 1rem;
}

#teachers .container .carousel-inner.card1 .card1-thumb img {
    border-radius: 1rem;
}

#teachers .container .carousel-inner .card1 .card1-thumb .teacher-name {
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    padding: 5px 20px;
    background-color: #fff;
    color: rgb(0, 0, 61);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 18px;
    transition: all 0.5s;
}

#teachers .container .carousel-inner .card1 .card1-thumb .teacher-name:hover {
    /* padding: 9px 30px; */
    bottom: 2rem;
    font-size: 20px;
    transition: all 0.5s;
}

#teachers .container .carousel-inner .card1 .card1-body {
    width: 100%;
    min-height: 100%;
    height: auto;
    margin-left: 20px;
    position: relative;
    padding-right: 1.5rem;
    padding-bottom: 10px;
}

#teachers .container .carousel-inner .card1 .card1-body .review {
    font-size: 20px;
    line-height: 30px;
    margin: 10px 10px;
    color: #fff;
    text-align: center;
}

#teachers .container .carousel-inner .card1 .card1-body .stars {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars i {
    color: rgb(226, 186, 5);
    font-size: 1.3rem;
    width: 2rem;
}

#teachers .container .carousel-indicators {
    position: relative;
    top: 100%;
    bottom: 0;
    left: 33%;
    transform: translateX(-50%);
    margin-top: 20px;
}

#teachers .container .carousel-indicators button {
    background: none;
    border: none;
    outline: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 5px;
    transition: 0.5s;
}

#teachers .container .carousel-indicators button.active {
    border-radius: 50px;
    background: rgb(244, 244, 247);
}

.footer {
    background: rgb(0, 0, 61);
}

.footer .footer-link {
    font-size: 1.2rem;
    color: #fff;
    padding: 0 1.875rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer .footer-link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: orangered;
    font-size: 1.4rem;

}

/* .footer .footer-link a:hover{
    color: #fff !important;
} */
.footer a i {
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem 0.5rem;
}

.footer a i:hover {
    font-size: 1.5rem;
    color: rgb(0, 0, 61, 0.9);
    background-color: #fff;
    border-radius: 3rem;
}
.text {
    letter-spacing: 1px;
    color: #fff;
}
.img {
    width: 500px;
    height: 230px;
    border-radius: 1rem;
}
.faq h4{
    color: rgb(0, 0, 61);
}
h4 i {
    color: orangered;
    font-size: 1.7rem;
    /* margin-right: 0.3125rem; */
}

.new-class{
    display: flex;
}
.bg-modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.bg-modal .container{
    position: relative;
    max-width: 330px;
    background: rgb(0, 0, 61);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(36, 36, 36);
    overflow: hidden;
    margin: 1rem;
    display: none;
}
.bg-modal .login-message,.bg-modal .signup-message{
    position: absolute;
    max-width: 300px;
    background: rgb(0, 0, 61);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgb(128, 127, 127);
    overflow: hidden;
    display: none;
    padding: 2rem;
    color: #fff;
    font-size: 20px;
}
.bg-modal .login-message:hover,.bg-modal .signup-message:hover{
    font-size: 23px;
}
.bg-modal .container .forms{
    width: 200%;
    transition: height 0.2s ease;
    display: flex;
    height: 410px;
    align-items: center;
}

.bg-modal .container .form{
    width: 50%;
    padding: 30px;
    /* background-color: #eee; */
    /* transition: margin-left 0.18s ease; */
}
.bg-modal .container .form .title{
    font-size: 27px;
    font-weight: 600;
    position: relative;
    color: #fff;
}

.bg-modal .container .form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: orangered;
    border-radius: 25px;
}

.bg-modal .container .form .input-field{
    margin-top: 25px;
    height: 30px;
    width: 100%;
    position: relative;
}
.input-field input{
    height: 100%;
    width: 100%;
    padding: 0px 40px;
    position: absolute;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    border-top: 2px solid transparent;
    background-color: rgb(0, 0, 61);
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 0.2s ease;
    margin-bottom: 10px;
}
.input-field input:is(:focus,:valid){
    border-bottom-color: orangered;
}
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fa6732;
    padding: 0 10px;
    font-size: 1.1rem;
    transition: all 0.2s ease;
}
.input-field input:is(:focus,:valid)~i{
    color: orangered;
}
.input-field i.icon{
    left: 0;
}
.input-field i.show-hide{
    right: 0;
    cursor: pointer;
    /* color: #fff; */
    padding: 10px;
    /* display: flex; */
    /* align-items: center; */
}
.form .checkbox-text{
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 20px;
    margin-bottom: 5px;
}
.form .checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    accent-color: #fa6732;
    margin: 0px 8px -2px 4px;
}

.form a.text{
    text-decoration: none;
    color: #fff;
}
.form a:hover{
    color: #fa6129;
}
.form .text{
    color: #fff;
    font-size: 1.1rem;
}
.form .login-signup a i {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 0.5rem;
    padding: 0.3rem;
}
.form .login-signup a i:hover {
    font-size: 1.5rem;
    background-color: orangered;
    border-radius: 3rem;
}
form span.main-btn{
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.4rem;
}
.form .login-signup{
    /* margin-top: 30px; */
    text-align: center;
}
.close a{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.close a:hover{
    color: rgb(255, 106, 52);
}
@media (max-width: 575.98px) {
    .img {
        width: 380px;
        height: 230px;
    }

    .footer .footer-link {
        font-size: .8rem;
        padding: 0 1rem;
        font-weight: 600;
    }

    .footer .footer-link:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: orangered;
        font-size: .9rem;
    }

    .footer a i {
        font-size: 1rem;
        color: #fff;
        padding: 0.2rem 0.2rem;
        margin-right: .5rem;
    }

    .footer a i:hover {
        font-size: 1rem;
        color: rgb(0, 0, 61, 0.9);
        background-color: #fff;
    }

    .navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
        color: white;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Anek Latin';
    }

    .logo {
        font-weight: 600;
        font-size: 30px;
        color: rgb(255, 106, 52);
        margin-right: 2px;
        margin-left: 0px;
        background-color: #fff;
        border-radius: 3rem;
    }

    .width {
        width: 25px;
        height: 23px;
    }

    #teachers .container {
        width: 90%;
        margin: auto;
    }

    .card1 {
        flex-direction: column;
    }

    #teachers {
        background: linear-gradient(to top right, rgb(0, 0, 61) 10%, #fff 90%);
        height: auto;
        margin-bottom: 2rem;
    }

    #teachers .container .carousel-inner .card1 .card1-thumb {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    #teachers .container .carousel-inner .card1 .card1-thumb .teacher-name {
        padding: 5px 10px;
        font-size: 15px;
    }

    #teachers .container .carousel-inner .card1 .card1-thumb .teacher-name:hover {
        /* padding: 5px 12px; */
        bottom: 1rem;
        font-size: 20px;
        transition: all 0.5s;
    }

    #teachers .container .carousel-inner .card1 .card1-body {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 10rem;
        /* margin-left: 20px; */
        position: relative;
    }

    #teachers .container .carousel-inner .card1 .card1-body .review {
        font-size: 20px;
        line-height: 30px;
    }

    #teachers .container .carousel-indicators {
        position: relative;
        top: 100%;
        bottom: 0;
        left: 33%;
        transform: translateX(-50%);
        margin-top: 10px;
        width: 10rem;
    }

    #teachers .container .carousel-inner .card1 .card1-body .stars i {
        color: rgb(226, 186, 5);
        font-size: 0.9rem;
        width: 2rem;
    }

    .card {
        width: 14rem;
        margin: 1rem 1rem;
    }
}

@media (min-width: 576px) {
    .img {
        width: 380px;
        height: 230px;
    }

    #teachers .container {
        width: 60%;
        margin: auto;
    }

    .card1 {
        flex-direction: column;
    }

    #teachers {
        background: linear-gradient(to top right, rgb(0, 0, 61) 10%, #fff 90%);
        height: auto;
        margin-bottom: 4rem;
    }

    #teachers .container .carousel-inner .card1 .card1-thumb {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    #teachers .container .carousel-inner .card1 .card1-thumb .teacher-name {
        padding: 5px 7px;
        font-size: 15px;
    }

    #teachers .container .carousel-inner .card1 .card1-thumb .teacher-name:hover {
        /* padding: 5px 12px; */
        bottom: 1rem;
        font-size: 20px;
        transition: all 0.5s;
    }

    #teachers .container .carousel-inner .card1 .card1-body {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 10rem;
        margin-left: 20px;
        position: relative;
    }

    #teachers .container .carousel-inner .card1 .card1-body .review {
        font-size: 20px;
        line-height: 30px;
    }

    #teachers .container .carousel-indicators {
        position: relative;
        top: 100%;
        bottom: 0;
        left: 33%;
        transform: translateX(-50%);
        margin-top: 10px;
    }

    #teachers .container .carousel-inner .card1 .card1-body .stars i {
        color: rgb(226, 186, 5);
        font-size: 1.3rem;
        width: 2rem;
    }

    .card {
        width: 15rem;
        height: 26rem;

    }

    .card-body h1 {
        font-size: 2rem;
        margin: 0;
    }
}

@media (max-width: 767px) {

    .footer .footer-link,
    .footer a i {
        padding: 0 0.7rem;
    }

    .img {
        width: 380px;
        height: 230px;
    }
}

@media (min-width: 940px) {
    .card1 {
        flex-direction: row;
    }

    #teachers .container .carousel-inner .card1 {
        padding: 1rem;
    }

    #teachers .container .carousel-inner .card1 .card1-body {
        overflow: hidden;
        height: auto;
    }

    #teachers .container .carousel-inner .card1 .card1-thumb img {
        margin-left: 1rem;
        border-radius: 1rem !important;
    }

    .img {
        width: 380px;
        height: 230px;
    }
}

@media (min-width: 1200px) {
    #teachers {
        width: 100%;
        height: 40rem;
    }

    #teachers .container .carousel-inner .card1 .card1-body .review {
        font-size: 20px;
        line-height: 30px;
    }

    .img {
        width: 380px;
        height: 230px;
    }
}